<h1> New Bookmark </h1>

<form action = "/links" method = "POST">
  <input type = "text" name = "url" placeholder = "enter URL here">
  <input type = "text" name = "title" placeholder = "enter title here">
  <input type = "submit" value = "Add">
</form>
